---
import BackgroundPages from "../components/BackgroundPages.astro";
import Breadcrumbs from "../components/Breadcrumbs.astro";
import Button from "../components/Button.astro";
import Tag from "../components/Tag.astro";
import Indhold from "../layouts/Indhold.astro";
import MainLayout from "../layouts/MainLayout.astro";

export async function getStaticPaths() {

    const url = "https://awccwteuyfoulnztrlsc.supabase.co/rest/v1/produkter?";
    const apikey = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF3Y2N3dGV1eWZvdWxuenRybHNjIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODQyMzUzNzAsImV4cCI6MTk5OTgxMTM3MH0.j55yJxX0YRq2JVBAyJGzGEdMi5qoOAeM0vZNgy-y7nE"

    const options = {
        headers: {
            apikey: apikey
        }
    }

    const response = await fetch(url, options);
    const data = await response.json();

    const paths = data.map((product) => ({
        params: { produkt: product.serie + product.nr + product.titel },
        props: { product },
    }));

    return paths;
}

const { product } = Astro.props;

const tags = [product.format, product.genre, product.sprog];
const volume = [product.serie, product.nr]

---


<MainLayout titel={product.titel}>
    <BackgroundPages />
    <Indhold>

        <Breadcrumbs 
            type={product.type === "Tegneserie" ? "tegneserier" : "bøger"}
            genre={product.genre}
            titel={product.titel}
            serie={product.serie}
        />

        <div class="produkt">

            <img src=`/imgs/${product.img}.jpg` alt={product.img} class="cover">

            <div class="info">
                <div>
                    <!-- Vis produktets serie og nr, hvis det ikke er en Manga -->
                    {volume[0] && product.genre !== "Manga" ? <h2 class="volume">{volume[0]}, nr. {volume[1]}</h2> : null}

                    <div class="titel_favorit_container">

                        <h1 class="titel">
                            <!-- Vis serie og volumen for Manga, titel for alt andet -->
                            {product.titel}
                        </h1>

                        <button class="favorit">
                            <img src="favoritter_sort_hjerte.svg" alt="">
                        </button>
                    </div>

                    <div class="alle_titler">
                        <img src="alle_titler.svg" alt="">
                        <a href="">Se alle titler i samme serie</a>
                    </div>
    
                    <div class="forfatter">
                        <img src="forfatter.svg" alt="">
                        <a href="">{product.forfatter}</a>
                    </div>
                </div>

                <div class="tags">
                    <Button type="primary" link={product.type === "Tegneserie" ? "/tegneserier" : "/bøger"}>{product.type}</Button>
                    {tags.map(tag => {
                        if (tag) {
                            return <Tag>{tag}</Tag>
                        }
                    })}
                </div>

                <div class="salg">
                    <div class="pris">
                        <h2><span>{product.pris}</span>,00 kr.</h2>
                    </div>
                    <button class="køb">
                        <img src="shoppingcart.svg" alt="">
                        Læg i Kurv
                    </button>
                </div>

                <div class="beskrivelse">
                    <h2>Beskrivelse</h2>
                    <p>{product.beskrivelse}</p>
                    <p>Udgivet af {product.udgiver}, {product.udgivelsesår}</p>
                </div>

            </div>
        </div>
    </Indhold>
</MainLayout>



<style>

    /* Styling for links */
    a {
        text-decoration: none;
        color: inherit;
    }

    /* Styling for produktcontainer */
    .produkt {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 1020px;
        margin: 0 auto;
        padding-inline: 2rem;
    }


    /* Styling for produktets coverbillede */
    .cover {
        width: 300px;
        height: 100%;
        object-fit: cover;
        place-self: flex-start;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.35);
    }

    /* Styling for produktets information */
    .info {
        padding-left: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 3rem;
    }

    /* Styling for containeren med produktets titel og favoritknap */
    .titel_favorit_container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
    }

    /* Styling for produktets titel */
    .titel {
        font-size: 32px;
        font-weight: 500;
        margin-bottom: -0.3rem;
    }

    /* Styling for favoritknap */
    .favorit {
        aspect-ratio: 1/1;
        background-color: var(--white);
        border-radius: 50%;
        width: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin: 0.5rem;
        border: 1px solid var(--black);
    }

    /* Styling for favoritikonet */
    .favorit img {
        aspect-ratio: 1/1;
        width: 50%;
        transform: translateY(0.8px)
    }

    /* Styling for containeren med link til alle titler i samme serie */
    .alle_titler {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 1rem 0;
    }

    /* Styling for ikonet til alle titler i samme serie */
    .alle_titler img {
        aspect-ratio: 1/1;
        width: 1.3rem;
        margin-right: 0.25rem;
    }

    /* Styling for containeren med forfatterinformation */
    .forfatter {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 1rem 0;
    }

    /* Styling for ikonet til forfatter */
    .forfatter img {
        aspect-ratio: 1/1;
        width: 1.3rem;
        margin-right: 0.25rem;
        margin-left: -0.1rem;
    }

    /* Styling for tags-container */
    .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin: 1rem 0;
    }

    /* Styling for salgssektion */
    .salg {
        margin: 1rem 0;
    }

    /* Styling for prisen */
    .pris h2, .pris span {
        font-size: 32px;
        font-weight: 500;
        margin-bottom: 0.5rem;
    }

    /* Styling for køb-knap */
    .køb {
        background-color: var(--dark-blue);
        color: var(--white);
        border: none;
        padding: 0.8rem 1rem;
        border-radius: 5px;
        font-weight: 500;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
    }

    /* Styling for ikonet på køb-knap */
    .køb img {
        aspect-ratio: 1/1;
        width: 1.2rem;
    }

    /* Styling for beskrivelsessektion */
    .beskrivelse {
        margin: 2rem 0;
        max-width: 34rem;
    }

    /* Styling for overskrift i beskrivelsessektion */
    .beskrivelse h2 {
        margin-bottom: 0.5rem;
    }

    /* Styling for afsnit i beskrivelsessektion */
    .beskrivelse p:first-of-type {
        margin-bottom: 2rem;
    }

    /* Responsivt layout til skærme under 768px */
    @media screen and (max-width: 768px) {
        /* Ændr layoutet til enkelt kolonne for produktcontaineren */
        .produkt {
            flex-direction: column;
            align-items: center;
        }

        /* Ændr størrelsen på coverbilledet */
        .cover {
            width: 70%;
            height: auto;
            margin-bottom: 3rem;
            margin-inline: auto;
        }

        /* Fjern venstremargin på infokolonnen */
        .info {
            padding-left: 0;
        }
    }

</style>

