---
import BackgroundPages from "../components/BackgroundPages.astro";
import GuideCard from "../components/GuideCard.astro";
import Indhold from "../layouts/Indhold.astro";
import MainLayout from "../layouts/MainLayout.astro";

const url = "https://awccwteuyfoulnztrlsc.supabase.co/rest/v1/guides?";
const apikey = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF3Y2N3dGV1eWZvdWxuenRybHNjIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODQyMzUzNzAsImV4cCI6MTk5OTgxMTM3MH0.j55yJxX0YRq2JVBAyJGzGEdMi5qoOAeM0vZNgy-y7nE"

const options = {
    headers: {
        apikey: apikey
    }
}

const response = await fetch(url, options);
const data = await response.json();

---

<MainLayout titel="Fantask Guides">
    <!-- <BackgroundPages /> -->
    <Indhold>
        <section>
            <div class="text">
                <h1>Fantask Guides</h1>
                <p>Er du også i tvivl om hvor du skal starte når det kommer til manga, tegneserier og figurer? <br>
                    Bare rolig, vi har sammensat disse guides så du nemt kan få overblikket.</p>
            </div>
            <div class="flex">
                    {
                        data.map((guide) => (
                            <div class="guide">
                                <GuideCard 
                                titel={guide.titel} 
                                img={guide.img}
                                />
                                <div class="info">
                                    <p>{guide.subtitle}</p>
                                    <a href="">Læs Guiden</a>
                                </div>
                            </div>
                        ))
                    }
                    {
                        data.map((guide) => (
                            <div class="guide">
                                <GuideCard 
                                titel={guide.titel} 
                                img={guide.img}
                                />
                                <div class="info">
                                    <p>{guide.subtitle}</p>
                                    <a href="">Læs Guiden</a>
                                </div>
                            </div>
                        ))
                    }
                    {
                        data.map((guide) => (
                            <div class="guide">
                                <GuideCard 
                                titel={guide.titel} 
                                img={guide.img}
                                />
                                <div class="info">
                                    <p>{guide.subtitle}</p>
                                    <a href="">Læs Guiden</a>
                                </div>
                            </div>
                        ))
                    }
            </div>
        </section>
    </Indhold>
</MainLayout>

<style>
    section {
        padding-inline: 2rem;
        margin-inline: auto;
        max-width: 1020px;
        margin-top: 3rem;
    }

    .text {
        margin: 0 auto;
        margin-block: 2rem;
    }

    .flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-inline: auto;
        gap: 4rem;
        max-width: 1020px;
    }

    .guide {
        width: 240px;
    }

    .info {
        display: flex;
        background-color: var(--white);
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: 1px solid rgba(3, 13, 50, 0.35);
        width: fit-content;
        padding: 1rem;
        gap: 1rem;
        border-end-end-radius: 5px;
        border-end-start-radius: 5px;
        transform: translateY(-5px);
        z-index: 99999999;
        height: 10rem;
    }

    .info p {
    }

    .info a {
        background-color: var(--dark-blue);
        color: var(--white);
        text-decoration: none;
        padding: 0.5rem 1rem;
        width: 100%;
        text-align: center;
        border-radius: 5px;
    }

    @media screen and (max-width: 1200px) {

        section {
            padding-inline: 2rem;
        }

        .flex {
            justify-content: center;
        }
    }
</style>