---
import BackgroundPages from "../components/BackgroundPages.astro";
import ForsideHero from "../components/ForsideHero.astro";
import GuideShelf from "../components/GuideShelf.astro";
import NewsletterBanner from "../components/NewsletterBanner.astro";
import ProductShelf from "../components/ProductShelf.astro";
import SamlemaerkeBanner from "../components/SamlemaerkeBanner.astro";
import MainLayout from "../layouts/MainLayout.astro";

const url = "https://awccwteuyfoulnztrlsc.supabase.co/rest/v1/forside?";
const options = {
    headers: {
        apikey:
            "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF3Y2N3dGV1eWZvdWxuenRybHNjIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODQyMzUzNzAsImV4cCI6MTk5OTgxMTM3MH0.j55yJxX0YRq2JVBAyJGzGEdMi5qoOAeM0vZNgy-y7nE"
    }
}

const response = await fetch(url, options);
const data = await response.json();

const activeData = data.filter((shelf) => shelf.aktiv === true);

const firstShelf = activeData[0];
const restOfShelves = activeData.slice(1);


---


<MainLayout>
    <ForsideHero />
    <BackgroundPages />
    <div class="indhold">
        <ProductShelf
            titel={firstShelf.titel}
            beskrivelse={firstShelf.beskrivelse}
            produkter={firstShelf.produkter}
            kategori={firstShelf.kategori}
        />
        <SamlemaerkeBanner />
        <GuideShelf />
        {
            restOfShelves.length > 0 && restOfShelves.map((shelf) => (
                <ProductShelf
                    titel={shelf.titel}
                    beskrivelse={shelf.beskrivelse}
                    produkter={shelf.produkter}
                    kategori={shelf.kategori}
                />
            ))
        }
        <NewsletterBanner />
    </div>

</MainLayout>




<style>
    .indhold {
        background-color: var(--white);
        min-height: fit-content;
        padding-block-start: 2rem;
        z-index: 0;
    }
</style>