---
import BackgroundPages from "../components/BackgroundPages.astro";
import ForsideHero from "../components/ForsideHero.astro";
import GuideShelf from "../components/GuideShelf.astro";
import NewsletterBanner from "../components/NewsletterBanner.astro";
import ProductShelf from "../components/ProductShelf.astro";
import SamlemaerkeBanner from "../components/SamlemaerkeBanner.astro";
import Indhold from "../layouts/Indhold.astro";
import MainLayout from "../layouts/MainLayout.astro";

const url = "https://awccwteuyfoulnztrlsc.supabase.co/rest/v1/forside?";
const options = {
    headers: {
        apikey:
            "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF3Y2N3dGV1eWZvdWxuenRybHNjIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODQyMzUzNzAsImV4cCI6MTk5OTgxMTM3MH0.j55yJxX0YRq2JVBAyJGzGEdMi5qoOAeM0vZNgy-y7nE"
    }
}

const response = await fetch(url, options);
const data = await response.json();

// Filter the data array to only include shelves that are marked as 'active' (aktiv property is true)
const activeData = data.filter((shelf) => shelf.aktiv === true);

// Get the first item from the array of active shelves
const firstShelf = activeData[0];

// Get the remaining items of the active shelves array (all items except for the first one)
const restOfShelves = activeData.slice(1);



---


    <MainLayout titel="Fantask">
        <div class="bg">
            <ForsideHero />
            <BackgroundPages />
            <Indhold>
                <ProductShelf
                    titel={firstShelf.titel}
                    beskrivelse={firstShelf.beskrivelse}
                    produkter={firstShelf.produkter}
                    kategori={firstShelf.kategori}
                />
                <SamlemaerkeBanner />
                <div class="guide">
                    <h1>
                        Fantask Starter Guides
                    </h1>
                    <p>
                        Er du ogs책 i tvivl om hvor du skal starte n책r det kommer til manga, tegneserier og figurer? <br>
                    Bare rolig, vi har sammensat disse guides s책 du nemt kan f책 overblikket.
                    </p>
                    <GuideShelf 
                    sektion="Starter Guides"    
                />
                </div>

                {restOfShelves.length > 0 && restOfShelves.map((shelf) => (
                    <ProductShelf
                        titel={shelf.titel}
                        beskrivelse={shelf.beskrivelse}
                        produkter={shelf.produkter}
                        kategori={shelf.kategori}
                    />
                ))}
                <NewsletterBanner />
            </Indhold>
        </div>

    </MainLayout>

<style>

    .bg {
        background-color: var(--blue);
    }

    .guide {
        padding-inline: 2rem;
        margin-block: 3rem;
        max-width: 1020px;
    }

    .guide p {
        margin-bottom: 1rem;
    }

    @media (min-width: 1200px) {
        .guide {
            padding-inline: 0;
            margin-inline: auto;
        }
    }
    
</style>