---
import Button from "./Button.astro";
import Tag from "./Tag.astro";
const {titel, forfatter, type, format, pris, img, sprog, genre, serie, nr} = Astro.props;

const tags = [format, genre, sprog];

---

<div class="product_card">
    <a href=`${serie + nr + titel}` class="cover_container" title={titel}>
        <img src={`/imgs/${img}.jpg`} class="cover">
        <button class="favorit">
            <img src="favoritter_sort_hjerte.svg" alt="">
        </button>
    </a>

    <div class="info">
        <div>
            <h2 class="titel">
                <a href=`${serie + nr + titel}` title={titel}>
                    {titel}
                </a>
            </h2>
            
             <div class="forfatter">
                <img src="forfatter.svg" alt="">
                <a href="">{forfatter}</a>
            </div >
        </div>

        <div class="tags">
            <Button type="primary" link={type === "Tegneserie" ? "/tegneserier" : "/bøger"}>{type}</Button>
            {tags.map(tag => {
                if (tag) {
                    return <Tag>{tag}</Tag>
                }
            })}
        </div>
        <div>
            <div class="pris">
                <h2><span>{pris}</span>,00 kr.</h2>
            </div>
            <button class="køb">
                <img src="shoppingcart.svg" alt="">
                Læg i Kurv
            </button>
        </div>       
    </div>
</div>

<style>

    h2 {
        font-weight: 600;
        font-size: 20px;
    }
    a {
        text-decoration: none;
        color: var(--black);
        overflow-wrap: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;

    }
    .product_card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 1rem 0;
        border: 1px solid rgba(3, 13, 50, 0.35);
        border-radius: 5px;
        font-size: 16px;
        width: 240px;
        overflow: hidden;
    }

    .cover_container {
        aspect-ratio: auto;
        height: auto;
        position: relative;
        cursor: pointer;
    }

    .cover {
        aspect-ratio: 2/3;
        width: 100%;
        object-fit: cover;
        object-position: center;
        transition: transform 0.8s ease;
        image-rendering: auto;
    }

    .favorit {
        aspect-ratio: 1/1;
        background-color: var(--white);
        border-radius: 50%;
        width: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin: 0.5rem;
        border: 1px solid var(--black);
        opacity: 0.5;
        transition: opacity 0.2s ease;
        position: absolute; /* Added position absolute */
        bottom: 0; /* Positioned at the bottom */
        right: 0; /* Positioned at the right */
    }

    .cover_container:hover .favorit{
        opacity: 1;
    }

    /* .cover_container:hover .cover {
        transform: scale(1.03);
    } */

    .favorit img {
        aspect-ratio: 1/1;
        width: 50%;
        transform: translateY(0.8px)
    }

    .info {
        padding: 0.9rem;
        height: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-top: 1px solid rgba(3, 13, 50, 0.35);
        width: 100%;
    }

    .forfatter {
        display: flex;
        align-items: center;
        margin: 0.5rem 0;
    }

    .forfatter img {
        aspect-ratio: 1/1;
        width: 1.2rem;
        margin-right: 0.25rem;
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    .pris{
        font-weight: 500;
        font-size: 20px;
        margin-top: 0.5rem;
    }

    .køb {
        background-color: var(--dark-blue);
        color: var(--white);
        border: none;
        padding: 0.8rem 1rem;
        border-radius: 5px;
        font-weight: 500;
        font-size: 20px;
        margin-top: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        width: 100%;
        cursor: pointer;
    }

    .køb img {
        aspect-ratio: 1/1;
        width: 1.2rem;
    }

    @media (max-width: 768px) {
        .product_card {
            width: 170px;
        }

        .info {
            height: 16rem;
            padding: 0.45rem;
        }

        .køb {
            font-size: 16px;
        }

        .tags {
            flex-wrap: nowrap;
            overflow: scroll;
            /* no scrollbar */
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
        }
    }

</style>
