---
import Button from "./Button.astro";
import ProductCard from "./ProductCard.astro";

const url = "https://awccwteuyfoulnztrlsc.supabase.co/rest/v1/produkter?";
const apikey = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF3Y2N3dGV1eWZvdWxuenRybHNjIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODQyMzUzNzAsImV4cCI6MTk5OTgxMTM3MH0.j55yJxX0YRq2JVBAyJGzGEdMi5qoOAeM0vZNgy-y7nE"

const options = {
    headers: {
        apikey: apikey
    }
}

const response = await fetch(url, options);
const data = await response.json();

const { produkter, titel, beskrivelse, kategori, serie, id, genre} = Astro.props;

let filteredData = data
  .filter(product => 
    produkter ? produkter.includes(product.id.toString()) : 
    serie ? product.serie === serie : 
    genre ? product.genre === genre : 
    false)
  .sort((a, b) => a.nr - b.nr)
  .filter(product => product.id !== id);

// Ensure there are always at least 4 items
let additionalItems = data.filter(product => product.genre === genre && product.id !== id);
for(let i = 0; filteredData.length < 4 && i < additionalItems.length; i++) {
  if (!filteredData.includes(additionalItems[i])) {
    filteredData.push(additionalItems[i]);
  }
}


---

<section>
  <div class="shelf">
    <div class="text">
      <h1>{titel}</h1>
      <p>{beskrivelse}</p>
    </div>
    <div class="flex_row_container">
      <div class="flex_row">
        {
          filteredData.slice(0, 4).map((product) => {
            return <ProductCard 
              titel={product.titel} 
              forfatter={product.forfatter}
              img={product.img} 
              pris={product.pris} 
              type={product.type} 
              format={product.format} 
              sprog={product.sprog} 
              genre={product.genre} 
              serie={product.serie} 
              nr={product.nr} 
            />
          })
        }
      </div>
    </div>
  </div>
  {
    kategori ?  
    <div class="button_frame">
      <Button link={kategori}>Se alt i {kategori}</Button>
    </div> 
    : null
  }
 
</section>

<style>
  section {
    overflow: hidden;
    margin-bottom: 3rem;
  }
  .shelf {
    margin: 0 auto;
    width: 1020px;
    position: relative;
  }

  h1 {
    white-space: 
  }

  .text {
    padding-inline: 2rem;
  }

  .flex_row_container {
    overflow: scroll;
    padding-inline: 2rem;
    width: 100vw;
    max-width: fit-content;
    scroll-behavior: smooth;
  }

  .flex_row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    width: fit-content;
  }

  .button_frame {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1.5rem;
    /* margin-inline: auto; */
  }

  /* .shelf::after {
    content: ">";
    display: block;
    color: var(--white);
    font-size: 3rem;
    font-weight: 200;
    position: absolute;
    top: 50%;
  } */

  @media screen and (min-width: 1200px) {
    .text {
      padding-inline: 0rem;
    }

    .flex_row_container {
      padding-inline: 0rem;
    }
  }
</style>
