---
import Button from "./Button.astro";
import ProductCard from "./ProductCard.astro";

const url = "https://awccwteuyfoulnztrlsc.supabase.co/rest/v1/produkter?";
const apikey = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF3Y2N3dGV1eWZvdWxuenRybHNjIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODQyMzUzNzAsImV4cCI6MTk5OTgxMTM3MH0.j55yJxX0YRq2JVBAyJGzGEdMi5qoOAeM0vZNgy-y7nE"

const options = {
    headers: {
        apikey: apikey
    }
}

const response = await fetch(url, options);
const data = await response.json();

const { titel, beskrivelse, type, genre, serie } = Astro.props;


// filter data by type and genre
const filteredData = data.filter((product) => {
    if (type && genre) {
        return product.type === type && product.genre === genre;
    } else if (type) {
        return product.type === type;
    } else if (genre) {
        return product.genre === genre;
    } else if (serie) {
        return product.serie === serie;
    } else {
        return product;
    }
});


---
<section>
    <div class="product_grid">
        <div class="text">
            <h1>{titel}</h1>
            <p>{beskrivelse}</p>
        </div>
            <div class="flex">
                {
                    filteredData.map((product) => {
                        return <ProductCard 
                            titel={product.titel}
                            forfatter={product.forfatter}
                            img={product.img}
                            pris={product.pris}
                            type={product.type}
                            format={product.format}
                            sprog={product.sprog}
                            genre={product.genre}
                            serie={product.serie}
                            nr={product.nr}
                        />
                    })
                }
        </div>
    </div>
</section>

<style>
    section {
        padding-inline: 2rem;
        margin: 0 auto;
        max-width: 1100px;
    }

    .flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 1rem;
    }

    @media screen and (max-width: 1200px) {

        section {
            padding-inline: 0.1rem;
        }
        .flex {
            justify-content: center;
        }
    }
</style>